<h1><%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
    <% end %>
</ul>
<p><%= @tag.name %></p>
<%= link_to "Delete", tag_path(@tag), method: :delete %><br />
